name: release-please

on:
  push:
    branches: [ 'master' ]

permissions:
  contents: read

jobs:
  release-please:
    name: run release-please
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}